@using JofShop.Areas.ViewModels
@model UpdateFruitVm;


<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Fruit name</label>
        <input asp-for="Name" type="text" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label asp-for="CategoryName" class="form-label">Category name</label>
        <input asp-for="CategoryName" type="text" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="input-group mb-3">
        <label asp-for="ImageFile" class="input-group-text">Upload an Image</label>
        <input asp-for="ImageFile" type="file" class="form-control">
    </div>
    <div asp-validation-summary=All></div>
    <button asp-action="Update" asp-controller="Fruit" type="submit" class="btn btn-primary">Upload</button>
</form>